* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

a {
    text-decoration: none;
}

ul,ol,li {
    list-style: none;
}
/* RESET */

html, body {
    scroll-behavior: smooth;
    
}

header {
    position: fixed;
    width: 100vw;
    background-color: #333;
    padding: 32px;
}

header nav ul {
    display: flex;
    justify-content: space-between;
}

header nav a {
    color: white;
    padding: 8px;
    transition: 1s;
}

header nav a:hover {
    background-color: tomato;
}

.grupo {
    height: 100vh;
    background-color: tomato;
}

#vermelho{
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 80px;
}


.imagemRed img {
    height: 700px;
}

#texto h1 {
    color: white;
    font-size: 200px;
    margin-left: 55px;
    transition: 1s;
}

#texto h1:hover {
    font-size: 250px;
    border-bottom: 10px solid orange;
}

#verde{
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 70px;
}

.imagemPorco {
    background-color:wheat;
    height: 65%;
    margin-right: 20%;
}
.imagemPorco img {
    height: 700px;
}

#textoPorco {
    background-color: aliceblue;
    width: 300px;
}

#textoPorco h1 {
    color: white;
    font-size: 100px;
    width: 100%;
}

.bandoDosPorcos {
    background-color: aliceblue;
}

#azul {
    background-color: blue;
}

#amarelo {
    background-color: yellow;
}

#roxo {
    background-color: purple;
}



